.sign {
    margin: 0;
    display: flex;
}

.sign-up__name {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
}


.sign__email {
    display: block;
    background-color: #2F303A;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 16px;
    outline: transparent;
    margin-right: 12px;
    
color: #FFFFFF;
}

.sign__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 28px 10px 29px;
    width: 200px;
    height: 50px;
    gap: 10px;

    background: #2196F3;
    border-radius: 4px;
    border-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);


    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    cursor: pointer;
}

